@charset "utf-8";
/* CSS aboutus*/
.pagename{
	text-align:center;
	height:60px;
	margin-top:30px;
	margin-bottom:60px;
	color:#BB2649;
}
.pagename hr{
	border-top : solid 2pt #bb2649;
	width:168px;	
}

#content{
	padding-top:15px;
	margin-bottom:20px;
}
#content2{
	text-align:center;
	font-family: mytittlefont;
	margin-top:200px;
	margin-bottom:400px;
	font-size:22pt;
}

#content3{
	text-align:center;
	font-family: mytittlefont;
	padding-top:170px;
	margin-bottom:300px;
	font-size:22pt;
}

/*==ONLY X LARGE==*/
@media (min-width:1200px){
	#img2{
	text-align:center;
	padding-top:60px;
}
	#img3{
		text-align:center;
		padding-top:60px;
	}
}
/*==ONLY LARGE==*/
@media(min-width:992px) and (max-width:1199px){
	#img3{
		text-align:center;
		padding-top:80px;
	}
}
/*==ONLY MEDIUM==*/
@media (min-width:768px) and (max-width:991px){
	#img2{
		margin-top:30px;
	}
	#img3{
		padding-top:100px;
	}
}
/*mobile*/
.mobilecontent{
	text-align:center;
	font-family:mytitlefont;
	font-size:17pt;
	margin-bottom:20px;
}

