@charset "utf-8";
/* contact */
.pagename{
	height:60px;
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
	color: #bb2649;
}
.pagename hr{
	border-top : solid 2pt #bb2649;
	width:187px;
}
#username{
	border: solid 1pt;
	margin-bottom:30px;
}
.content{
	color:#BB2649;
	font-size:13pt;
}
#email{
	border: solid 1pt;
	margin-bottom:30px;
}
#phone{
	border:solid 1pt;
	margin-bottom:30px;
}
#message{
	border:solid 1pt;
	margin-bottom:30px;
}
#sendbtn{
	color:#bb2649;
	text-align:center;
}
sendbtn:hover{
	color:#FFFFFF;
}
.primarybtn a{
	display: block;
	height: 40px;
	border-radius: 15px;
	background-color: #BB2649;
	color: white;
	text-align: center;
	font-size: 18pt;
	font-weight: bold;
	text-decoration: none;
	padding-top: 3px;
	margin-bottom: 40px;
}
.primarybtn a:hover{
	background-color: #930022;
}
#img{
	padding-top:51px;
}
